@model Domain.DTOs.Student.StudentOutput


<div class="row justify-content-center ">

    <form class="row col-11 d-flex justify-content-around mt-3" action="/Home/Edit/@Model.Id" method="post" style="background-color:white" enctype="multipart/form-data">
 

        <div class="col-md-5">
            <h3>Detalle estudiante</h3>

            <label class="label_text openSans" asp-for="FirstName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="FirstName" value="@Model?.FirstName" disabled maxlength="30">
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <label class="label_text openSans" asp-for="LastName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="LastName" value="@Model?.LastName" disabled maxlength="30">
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <label class="label_text openSans" asp-for="MiddleName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="MiddleName" value="@Model?.MiddleName" disabled maxlength="30">
                </div>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <label class="label_text openSans mt-3">Género</label>
                    @Html.DropDownList("Gender", ViewBag.Genders as SelectList, "-- Género --", new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>


            <div class="input-group mb-2 d-flex  justify-content-end ">
                <a href="/Home/Index" class="btn openSans" style="background-color: #F5718A; color:white; width:150px;">Volver</a>
            </div>
        </div>

        <div class="col-md-5 ">
            <label class="label_text openSans">Teléfonos</label>
            <ul class="list-group">
                @foreach (var item in Model.Phones)
                {
                    <li class="list-group-item">@item.phone - @item.PhoneType</li>
                }
            </ul>

            <label class="label_text openSans">Emails</label>
            <ul class="list-group">
                @foreach (var item in Model.Emails)
                {
                    <li class="list-group-item">@item.email - @item.EmailType.ToString()</li>
                }
            </ul>

            <label class="label_text openSans">Direcciones</label>
            <ul class="list-group">
                @foreach (var item in Model.Addresses)
                {
                    <li class="list-group-item">@item.AddressLine - @item.City . @item.State</li>
                }
            </ul>
        </div>
        <div class="input-group mb-1">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </form>
</div>
